<!DOCTYPE html>
<html>
    <head>
        <title>Sentiment Analyzer</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
              crossorigin="anonymous" />
        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 
              crossorigin="anonymous" />
        <link rel="stylesheet" 
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"/>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.js"/>

        <script src="app.js" ></script>
        <script src="main.controller.js" ></script>
        <script src="search-engine.service.js" ></script>

    </head>
    <body ng-app="AuctionHelper">
        <div class="container-fluid view-container">
            <div ng-controller="MainController">
                <div class="input-group" style="padding-top: 35px">
                    <input type="text" class="form-control" placeholder="Szukaj..." ng-model="query" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="search()">Wyszukaj</button>
                    </span>
                </div>
                <div class="text-center" ng-if="loading">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>
                <div class="text-center" ng-if="sites">
                    <h3>
                        Result sites:
                    </h3>
                    <div class="row">
                        <div class="col-xs-3">
                            <div ng-if="statistics">
                                <h3>Statystyki:</h3>
                                <div><strong>Stwierdzenia pozytywne: </strong>{{statistics.positive}}</div>
                                <div><strong>Stwierdzenia neutralne: </strong>{{statistics.neutral}}</div>
                                <div><strong>Stwierdzenia negatywne: </strong>{{statistics.negative}}</div>
                                <div ng-if="statistics.unrecognized > 0"><strong>Nierozpoznane: </strong>{{statistics.unrecognized}}</div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div ng-repeat="site in sites track by $index">
                                <div class="panel" style="margin-bottom: 30px"
                                     ng-class="{
                                     'panel-warning': !site.sentiment,
                                     'panel-success': isPositive(site),
                                     'panel-info': isNeutral(site),
                                     'panel-danger': isNegative(site)
                                 }">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-10">
                                                <div > Wynik nr {{$index + 1}} ze strony: <strong>{{site.displayLink}}</strong></div>
                                                <a target="blank" href="{{site.link}}"> {{site.link}}</a>
                                            </div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-info btn-block" ng-click="site.details = true" ng-if="!site.details">
                                                    Pokaż więcej 
                                                </button>
                                                <button class="btn btn-info btn-block" ng-click="site.details = false" ng-if="site.details">
                                                    Pokaż mniej 
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="panel-body" ng-if="site.details">
                                        <div>{{site.snippet}}</div>
                                        <div ng-if="site.sentiment">
                                            <div>
                                                Oznaczone jako:&nbsp;
                                                <span>
                                                    <strong ng-if="site.sentiment.label === 'pos'">pozytywny</strong>
                                                    <strong ng-if="site.sentiment.label === 'neutral'">neutralny</strong>
                                                    <strong ng-if="site.sentiment.label === 'neg'">negatywny</strong>
                                                </span>
                                            </div>
                                            <h4>Prawdopodobienstwo:</h4>
                                            <div class="row">
                                                <div class="col-xs-4"><strong>Pozytywności:</strong>&nbsp;{{site.sentiment.probability.pos}}</div>
                                                <div class="col-xs-4"><strong>Neutralności:</strong>&nbsp;{{site.sentiment.probability.neutral}}</div>
                                                <div class="col-xs-4"><strong>Negatywności:</strong>&nbsp;{{site.sentiment.probability.neg}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert" style="font-size: large">
                        <a href="" class="text-center" ng-click="getNextPage()">Pobierz nastepne 10 wyników</a>
                    </div>
                </div>
                <div class="alert alert-danger" ng-if="error">
                    Przepraszamy, twoje zapytanie nie zostało poprawnie obsłużone - jeśli błąd powtarza się spróbuj później lub skontaktuj się z osobami odpowiedzialnymi za stronę.
                </div>
            </div>
        </div>

    </body>
</html>
